.materia {
    display: block;
    padding: 2em;
    width: 100%;
    height: auto;
    border-radius: 1em;
    border: solid #6072d7 1px;
    background-color: rgb(72, 93, 124);
    margin-block: 1em;
}

div {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    padding-left: 2em;
    margin-block: 1em;
}

#cv {
    width: 80%;
    height: 10em;
    margin-inline: 10%;
}

@media only screen and (max-width: 400px) and (min-width: 0px) {
    .materia {
        padding: 0.5em;
    }
    div {
        padding-left: 0.5em;
    }
}